In [6]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# General libraries.
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB

# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

import sqlite3
import seaborn as sns
import plotly.express as px

download data from here and save in the same folder of this file:
https://www.kaggle.com/michaelschmidek/sql-data-analysis-nba/data

In [3]:
# you might need to pip install the following libraries
#pip install plotly.express
#pip install kaleido

Collecting plotly.express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: pandas>=0.20.0 in c:\users\weijili\anaconda3\lib\site-packages (from plotly.express) (1.1.3)
Requirement already satisfied: scipy>=0.18 in c:\users\weijili\anaconda3\lib\site-packages (from plotly.express) (1.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\weijili\anaconda3\lib\site-packages (from plotly.express) (0.12.0)
Requirement already satisfied: patsy>=0.5 in c:\users\weijili\anaconda3\lib\site-packages (from plotly.express) (0.5.1)
Collecting plotly>=4.1.0
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Requirement already satisfied: numpy>=1.11 in c:\users\weijili\anaconda3\lib\site-packages (from plotly.express) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\weijili\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly.express) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\weijili\anaconda3\lib\site-packages (from pandas>=0.20.0->plotly.express) (2020.1)
Requirement already satisfied: six in c:\users\weijili\anaconda3\lib\site-packages (from patsy>=0.5->plotly.express) (1.15.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly, plotly.express
Successfully installed plotly-5.3.1 plotly.express tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [11]:
#path = ".." #Everything preceding the file name
database = 'basketball.sqlite' #The path + the file name

# sqlite3.connect() Creates a connection object
# database is the variable we established above
conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables
#usless tables: Team (redundant info), Player_Photos, News_Missing, news(earliest is this year april)
# Team_Salary, Player_Salary (only has 2020 and later), Team_History

,type,name,tbl_name,rootpage,sql
0,table,Player,Player,2,"CREATE TABLE ""Player"" (\n""id"" TEXT,\n ""full_n..."
1,table,Team,Team,4,"CREATE TABLE ""Team"" (\n""id"" TEXT,\n ""full_nam..."
2,table,Team_Attributes,Team_Attributes,5,"CREATE TABLE ""Team_Attributes"" (\n""ID"" TEXT,\n..."
3,table,Team_History,Team_History,6,"CREATE TABLE ""Team_History"" (\n""ID"" TEXT,\n ""..."
4,table,Player_Attributes,Player_Attributes,15,"CREATE TABLE ""Player_Attributes"" (\n""ID"" TEXT,..."
5,table,Game_Officials,Game_Officials,8375,"CREATE TABLE ""Game_Officials"" (\n""OFFICIAL_ID""..."
6,table,Game_Inactive_Players,Game_Inactive_Players,8997,"CREATE TABLE ""Game_Inactive_Players"" (\n""PLAYE..."
7,table,Team_Salary,Team_Salary,13415,CREATE TABLE `Team_Salary` (\n `nameTeam` TEX...
8,table,Player_Salary,Player_Salary,23558,CREATE TABLE `Player_Salary` (\n `slugSeason`...
9,table,Draft,Draft,23559,"CREATE TABLE `Draft` (\n `yearDraft` REAL,\n ..."
10,table,Draft_Combine,Draft_Combine,23562,CREATE TABLE `Draft_Combine` (\n `yearCombine...
11,table,Player_Photos,Player_Photos,23565,CREATE TABLE `Player_Photos` (\n `isActive` I...
12,table,Player_Bios,Player_Bios,22541,CREATE TABLE `Player_Bios` (\n `namePlayerBRE...
13,table,Game,Game,25,"CREATE TABLE ""Game"" (\n""GAME_ID"" TEXT,\n ""SEA..."
14,table,News,News,13142,"CREATE TABLE ""News"" (\n""title"" TEXT,\n ""autho..."
15,table,News_Missing,News_Missing,198017,"CREATE TABLE ""News_Missing"" (\n""link"" TEXT,\n ..."

In [90]:
Player_Attributes = pd.read_sql("""
    SELECT 
    pa.ID, p.is_active, cast(BIRTHDATE as date) as BIRTHDATE, HEIGHT, WEIGHT, JERSEY, POSITION,SCHOOL, COUNTRY, 
    TEAM_ID, GAMES_PLAYED_CURRENT_SEASON_FLAG,SEASON_EXP,
    FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,
    DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
    FROM Player_Attributes pa
    left join Player p on p.id = pa.id
    where team_id <>0
    
    limit 20;
""", conn)
# remove team id = 0
# not sure if need is_active (is this is active for current season?)
print(pd.read_sql("""SELECT count(*) FROM Player_Attributes;""", conn))

Player_Attributes

   count(*)
0      4500

,ID,is_active,BIRTHDATE,HEIGHT,WEIGHT,JERSEY,POSITION,SCHOOL,COUNTRY,TEAM_ID,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,0,1968,82.0,240.0,30,Forward,Duke,USA,1610612757,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,0,1946,81.0,235.0,54,Center,Iowa State,USA,1610612745,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,0,1947,86.0,225.0,33,Center,UCLA,USA,1610612747,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,0,1969,73.0,162.0,1,Guard,Louisiana State,USA,1610612743,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,0,1974,78.0,235.0,9,Forward-Guard,San Jose State,France,1610612758,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN
5,949,0,1976,81.0,245.0,3,Forward,California,USA,1610612763,...,Y,Y,1996,1,3,18.1,2.5,7.5,1.0,NaN
6,76005,0,1954,79.0,220.0,5,Forward,Indiana,USA,1610612744,...,Y,Y,1976,3,43,5.6,1.2,3.2,0.0,NaN
7,76006,0,1932,75.0,180.0,6,Guard,Western Kentucky,USA,1610612755,...,Y,Y,1956,None,None,0.0,1.0,1.0,0.0,NaN
8,76007,0,1919,75.0,195.0,,Forward,Salem,USA,1610610031,...,Y,Y,Undrafted,Undrafted,Undrafted,9.5,0.7,NaN,0.0,NaN
9,101165,0,1983,77.0,185.0,3,Guard,Pepperdine,USA,1610612746,...,Y,Y,2005,2,60,2.7,0.5,1.0,0.0,NaN
10,76008,0,1930,72.0,183.0,,Guard,Long Island-Brooklyn,USA,1610612752,...,Y,Y,1953,2,None,1.5,0.8,0.5,0.0,NaN
11,76009,0,1962,83.0,220.0,42,Center,Oral Roberts,USA,1610612753,...,Y,Y,1985,2,40,3.6,0.5,4.1,0.0,NaN
12,76010,0,1942,78.0,210.0,24,Forward,Hillsdale,USA,1610612745,...,Y,Y,Undrafted,Undrafted,Undrafted,3.3,0.5,2.0,0.0,NaN
13,76011,0,1954,81.0,210.0,33,Center,Oklahoma,USA,1610612756,...,Y,Y,1975,1,4,14.1,4.1,7.0,1.0,NaN
14,76012,0,1947,79.0,210.0,10,Forward,Northwestern,USA,1610612765,...,Y,Y,1970,8,120,8.7,1.8,5.6,0.0,NaN
15,203919,0,1994,77.0,209.0,3,Guard,UCLA,USA,1610612763,...,Y,Y,2014,1,22,3.2,0.6,0.9,0.0,NaN
16,149,0,1963,70.0,165.0,23,Guard,Boston College,USA,1610612743,...,Y,Y,1985,3,66,14.7,6.4,2.9,1.0,NaN
17,203500,1,1993,83.0,265.0,12,Center,Pittsburgh,New Zealand,1610612740,...,Y,Y,2013,1,12,8.1,2.0,9.2,NaN,0.093
18,912,0,1964,80.0,241.0,7,Forward,Syracuse,USA,1610612751,...,Y,Y,1986,2,39,5.8,0.9,2.1,0.0,NaN
19,1628389,1,1997,81.0,255.0,13,Center-Forward,Kentucky,USA,1610612748,...,Y,Y,2017,1,14,19.2,5.4,9.5,NaN,0.167

In [66]:
Team_Attributes = pd.read_sql("""SELECT id, ABBREVIATION, NICKNAME,YEARFOUNDED, CITY, ARENA, ARENACAPACITY, OWNER,
                                    GENERALMANAGER, HEADCOACH, DLEAGUEAFFILIATION
                        FROM Team_Attributes
                        """, conn)
Team_Attributes
# 30 count

,ID,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Nate McMillan,Erie Bayhawks
1,1610612738,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,1610612739,CLE,Cavaliers,1970,Cleveland,Rocket Mortgage FieldHouse,20562.0,Dan Gilbert,Koby Altman,JB Bickerstaff,Canton Charge
3,1610612740,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Stan Van Gundy,No Affiliate
4,1610612741,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls
5,1610612742,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
6,1610612743,DEN,Nuggets,1976,Denver,Ball Arena,NaN,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
7,1610612744,GSW,Warriors,1946,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors
8,1610612745,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Stephen Silas,Rio Grande Valley Vipers
9,1610612746,LAC,Clippers,1970,Los Angeles,STAPLES Center,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario
10,1610612747,LAL,Lakers,1948,Los Angeles,STAPLES Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
11,1610612748,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
12,1610612749,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
13,1610612750,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Chris Finch,Iowa Wolves
14,1610612751,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Steve Nash,Long Island Nets
15,1610612752,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Leon Rose,Tom Thibodeau,Westchester Knicks
16,1610612753,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
17,1610612754,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate Bjorkgren,Fort Wayne Mad Ants
18,1610612755,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Doc Rivers,Delaware Blue Coats
19,1610612756,PHX,Suns,1968,Phoenix,Phoenix Suns Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
20,1610612757,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
21,1610612758,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Luke Walton,Stockton Kings
22,1610612759,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
23,1610612760,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,NaN,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue
24,1610612761,TOR,Raptors,1995,Toronto,Amalie Arena,NaN,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
25,1610612762,UTA,Jazz,1974,Utah,Vivint Arena,NaN,Ryan Smith,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
26,1610612763,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
27,1610612764,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
28,1610612765,DET,Pistons,1948,Detroit,Little Caesars Arena,NaN,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
29,1610612766,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm

In [74]:
Game_Officials = pd.read_sql("""
    with official as (
        SELECT GAME_ID, official_id, jersey_num, row_number() over(partition by game_id order by official_id) as rnk
        FROM Game_Officials
    )
    select o1.game_id, o1.official_id as official_id_1, o2.official_id as official_id_2, o3.official_id as official_id_3
    from
        official o1
        left join official o2 on o1.game_id = o2.game_id and o2.rnk = 2
        left join official o3 on o1.game_id = o3.game_id and o3.rnk = 3
    where 
        o1.rnk = 1
    limit 20
;""", conn)
# maybe wining has to do with officials?
print(pd.read_sql("""SELECT count(*) FROM Game_Officials;""", conn))
Game_Officials

   count(*)
0     65158

       GAME_ID official_id_1 official_id_2 official_id_3
0   0020000020          1180          1181          1185
1   0020000023          1142          1151          1193
2   0020000057          1157          1199          1830
3   0020000089          1180          1181          1185
4   0020000090          1144          1158          1201
5   0020000136          1161          1186          1662
6   0020000146          1165          1179          1194
7   0020000149          1144          1148          1156
8   0020000256          1165          1186          1662
9   0020000265          1154          1184          1188
10  0020000299          1142          1155          1159
11  0020000322          1148          1163          1661
12  0020000323          1165          1184          1830
13  0020000348          1165          1179          1203
14  0020000369          1157          1181          1204
15  0020000404          1161          1176          1186
16  0020000406          1148          1164          1189
17  0020000444          1143          1190          1199
18  0020000449          1167          1184          1363
19  0020000460          1151          1155          1159

In [68]:
Game_Inactive_Players = pd.read_sql("""
    SELECT GAME_ID, TEAM_ID, count(distinct PLAYER_ID) as inactive_player_count --,JERSEY_NUM
    FROM Game_Inactive_Players
    group by 1,2
    order by game_id, team_id 
    limit 20
    ;""", conn)
# count the number of inactive players per game
print(pd.read_sql("""SELECT count(*) FROM Game_Inactive_Players;""", conn))
Game_Inactive_Players

   count(*)
0     98679

       GAME_ID     TEAM_ID  inactive_player_count
0   0020000006  1610612758                      1
1   0020000018  1610612758                      1
2   0020000089  1610612739                      1
3   0020000098  1610612745                      1
4   0020000105  1610612739                      2
5   0020000105  1610612744                      2
6   0020000109  1610612753                      1
7   0020000120  1610612761                      1
8   0020000127  1610612748                      1
9   0020000155  1610612739                      1
10  0020000155  1610612765                      1
11  0020000173  1610612739                      1
12  0020000173  1610612748                      1
13  0020000182  1610612752                      1
14  0020000202  1610612738                      1
15  0020000238  1610612739                      1
16  0020000238  1610612755                      1
17  0020000285  1610612739                      1
18  0020000339  1610612739                      1
19  0020000339  1610612762                      1

In [47]:
Player_Bios = pd.read_sql("""SELECT namePlayerBREF, nameTable, numberTransactionPlayer,dateTransaction, descriptionTransaction,
                        isGLeagueMovement,isDraft
                        FROM Player_Bios
                        limit 20;""", conn)

print(pd.read_sql("""SELECT count(*) FROM Player_Bios;""", conn))
Player_Bios

   count(*)
0     42749

,namePlayerBREF,nameTable,numberTransactionPlayer,dateTransaction,descriptionTransaction,isGLeagueMovement,isDraft
0,A.C. Green,Transactions,1.0,5647.0,Drafted by the Los Angeles Lakers in the 1st r...,0.0,1.0
1,A.C. Green,Transactions,2.0,8602.0,Released by the Los Angeles Lakers.,0.0,0.0
2,A.C. Green,Transactions,3.0,8671.0,Signed as an unrestricted free agent with the ...,0.0,0.0
3,A.C. Green,Transactions,4.0,9856.0,"Traded by the Phoenix Suns with Sam Cassell, M...",0.0,0.0
4,A.C. Green,Transactions,5.0,10835.0,Traded by the Dallas Mavericks to the Los Ange...,0.0,0.0
5,A.C. Green,Transactions,6.0,11261.0,Signed as a free agent with the Miami Heat.,0.0,0.0
6,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
7,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
8,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
9,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
10,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
11,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
12,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
13,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
14,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
15,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
16,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
17,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
18,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN
19,A.C. Green,Salaries,NaN,NaN,None,NaN,NaN

In [88]:
Draft = pd.read_sql("""
    SELECT distinct cast(yearDraft as int) as yearDraft, cast(idTeam as int) as idTeam,
    count(distinct idPlayer) as Number_of_Picks
    FROM Draft
    group by 1,2
    limit 20
    ;""", conn)

print(pd.read_sql("""SELECT count(*) FROM Draft;""", conn))
Draft

   count(*)
0      7890

    yearDraft      idTeam  Number_of_Picks
0        1949  1610610024                8
1        1949  1610610025                3
2        1949  1610610030                8
3        1949  1610610032                9
4        1949  1610610034               10
5        1949  1610610036                5
6        1949  1610612738               11
7        1949  1610612744                3
8        1949  1610612747                3
9        1949  1610612752                8
10       1949  1610612758                2
11       1949  1610612765                5
12       1950  1610610024               10
13       1950  1610610025               10
14       1950  1610610030               11
15       1950  1610610036               10
16       1950  1610612737               10
17       1950  1610612738               10
18       1950  1610612744               12
19       1950  1610612747               10

In [98]:
Game = pd.read_sql("""
    SELECT  
        GAME_ID,WL_HOME,TEAM_WINS_LOSSES_HOME,TEAM_ID_HOME,VISITOR_TEAM_ID,GAME_DATE,
        MIN_HOME,FGM_HOME,FGA_HOME,FG_PCT_HOME,FG3M_HOME,FG3A_HOME,FG3_PCT_HOME,FTM_HOME,
        FTA_HOME,FT_PCT_HOME,OREB_HOME,DREB_HOME,REB_HOME,AST_HOME,STL_HOME,BLK_HOME,
        TOV_HOME,PF_HOME,PTS_HOME,PLUS_MINUS_HOME,VIDEO_AVAILABLE_HOME,MIN_AWAY,
        FGM_AWAY,FGA_AWAY,FG_PCT_AWAY,FG3M_AWAY,FG3A_AWAY,FG3_PCT_AWAY,
        FTM_AWAY,FTA_AWAY,FT_PCT_AWAY,OREB_AWAY,DREB_AWAY,REB_AWAY,AST_AWAY,
        STL_AWAY,BLK_AWAY,TOV_AWAY,PF_AWAY,PTS_AWAY,PLUS_MINUS_AWAY,VIDEO_AVAILABLE_AWAY,
        GAME_SEQUENCE,GAME_STATUS_ID,GAME_STATUS_TEXT,LIVE_PERIOD,WH_STATUS,PTS_PAINT_HOME,
        PTS_2ND_CHANCE_HOME,PTS_FB_HOME,LARGEST_LEAD_HOME,LEAD_CHANGES_HOME,
        TIMES_TIED_HOME,TEAM_TURNOVERS_HOME,TOTAL_TURNOVERS_HOME,TEAM_REBOUNDS_HOME,
        PTS_OFF_TO_HOME,TEAM_CITY_AWAY,PTS_PAINT_AWAY,PTS_2ND_CHANCE_AWAY,PTS_FB_AWAY,
        LARGEST_LEAD_AWAY,LEAD_CHANGES_AWAY,TIMES_TIED_AWAY,TEAM_TURNOVERS_AWAY,
        TOTAL_TURNOVERS_AWAY,TEAM_REBOUNDS_AWAY,PTS_OFF_TO_AWAY,LEAGUE_ID,GAME_DATE_DAY,
        ATTENDANCE,GAME_TIME,PTS_QTR1_HOME,PTS_QTR2_HOME,PTS_QTR3_HOME,PTS_QTR4_HOME,PTS_OT1_HOME,PTS_OT2_HOME,
        PTS_OT3_HOME,PTS_OT4_HOME,PTS_HOME_y, PTS_QTR1_AWAY,PTS_QTR2_AWAY,PTS_QTR3_AWAY,PTS_QTR4_AWAY,
        PTS_OT1_AWAY,PTS_OT2_AWAY,PTS_OT3_AWAY,PTS_OT4_AWAY,LAST_GAME_ID,
        LAST_GAME_DATE_EST,LAST_GAME_HOME_TEAM_ID,LAST_GAME_HOME_TEAM_POINTS,
        LAST_GAME_VISITOR_TEAM_ID,LAST_GAME_VISITOR_TEAM_POINTS,HOME_TEAM_WINS,
        HOME_TEAM_LOSSES,SERIES_LEADER,VIDEO_AVAILABLE_FLAG,PT_AVAILABLE,PT_XYZ_AVAILABLE,HUSTLE_STATUS
    FROM Game
    where GAME_DATE >= '1996-11-01' -- where most of the field start to have data
    --limit 20
    
    ;""", conn)

print(pd.read_sql("""SELECT count(*) FROM Game;""", conn))

#for col in Game.columns:
#    print(col)

#should remove null and na
Game
Game.to_csv('game.csv', sep=',')

   count(*)
0     62448