# Player Statistics and Attributes

In [1]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# General libraries.
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import plotly.express as px

import sqlite3

from nba_api.stats.endpoints import PlayerCareerStats

In [ ]:
# you might need to pip install the following libraries
#pip install nba_api
#pip install plotly.express
#pip install kaleido

## Get all player ID

In [2]:
#path = ".." #Everything preceding the file name
database = 'basketball.sqlite' #The path + the file name

conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
#tables

In [33]:
Player = pd.read_sql(
    """
        SELECT cast(id as int) as id, full_name, first_name, last_name, is_active from Player order by id
    """,
    conn)
Player.to_csv('Player.csv', sep=',')

#Player['id'] = Player['id'].astype('int')
Player

           id       full_name first_name last_name  is_active
0           2     Byron Scott      Byron     Scott          0
1           3      Grant Long      Grant      Long          0
2           7     Dan Schayes        Dan   Schayes          0
3           9  Sedale Threatt     Sedale   Threatt          0
4          12      Chris King      Chris      King          0
...       ...             ...        ...       ...        ...
4496  1629744     Matt Thomas       Matt    Thomas          1
4497  1629745     Tariq Owens      Tariq     Owens          1
4498  1629750   Javonte Green    Javonte     Green          1
4499  1629752    Juwan Morgan      Juwan    Morgan          1
4500  1629760     Matt Mooney       Matt    Mooney          1

[4501 rows x 5 columns]

## Get Player attribute

In [4]:
Player_Attributes = pd.read_sql(
    """
    SELECT 
    pa.ID, p.is_active, cast(BIRTHDATE as date) as BIRTHDATE, HEIGHT, WEIGHT, JERSEY, POSITION,SCHOOL, COUNTRY, 
    TEAM_ID, GAMES_PLAYED_CURRENT_SEASON_FLAG,SEASON_EXP,
    FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,
    DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
    FROM Player_Attributes pa
    left join Player p on p.id = pa.id
    where team_id <>0

    """, 
    conn)

Player_Attributes

,ID,is_active,BIRTHDATE,HEIGHT,WEIGHT,JERSEY,POSITION,SCHOOL,COUNTRY,TEAM_ID,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,0,1968,82.0,240.0,30,Forward,Duke,USA,1610612757,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,0,1946,81.0,235.0,54,Center,Iowa State,USA,1610612745,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,0,1947,86.0,225.0,33,Center,UCLA,USA,1610612747,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,0,1969,73.0,162.0,1,Guard,Louisiana State,USA,1610612743,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,0,1974,78.0,235.0,9,Forward-Guard,San Jose State,France,1610612758,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3831,1627790,1,1997,82.0,266.0,41,Center,,Croatia,1610612739,...,Y,Y,2016,1,23,6.0,0.6,3.9,0.0,NaN
3832,78647,0,1953,85.0,240.0,34,Center,Kent State,USA,1610612765,...,Y,Y,Undrafted,Undrafted,Undrafted,0.3,0.1,1.1,0.0,NaN
3833,78648,0,1948,73.0,170.0,6,Guard,Duquesne,USA,1610612749,...,Y,Y,1970,2,33,2.2,1.4,0.9,0.0,NaN
3834,1627826,1,1997,84.0,240.0,40,Center,Mega Basket,Croatia,1610612746,...,Y,Y,2016,2,32,8.5,1.1,7.0,NaN,0.126
3835,78650,0,1919,75.0,195.0,,Guard,George Washington,USA,1610610036,...,Y,Y,1947,None,None,4.9,0.9,NaN,0.0,NaN

## Get Player stats from nba_api
https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/endpoints/playercareerstats.md

Parameter
- per_mode36: (Totals)|(PerGame)|(Per36)
- player_id: ex) 2544
- LeagueID: nullable

#options of tables:   
player_info.career_totals_all_star_season.get_data_frame()    
player_info.career_totals_college_season.get_data_frame()    
player_info.career_totals_post_season.get_data_frame()    
player_info.career_totals_regular_season.get_data_frame()    
player_info.season_rankings_post_season.get_data_frame()    
player_info.season_rankings_regular_season.get_data_frame()    
player_info.season_totals_all_star_season.get_data_frame()    
player_info.season_totals_college_season.get_data_frame()    
player_info.season_totals_regular_season.get_data_frame()

In [11]:
player_info_0 = PlayerCareerStats(player_id=Player['id'][0], per_mode36 = 'Per36')
player_stats_df = player_info_0.career_totals_regular_season.get_data_frame()

In [45]:
player_stats_df

,PLAYER_ID,LEAGUE_ID,Team_ID,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,3,00,0,1003,673,28518.0,4.4,9.4,0.467,0.1,...,0.761,2.7,5,7.8,2.2,1.5,0,2.1,3.7,12.0
0,7,00,0,1138,427,21976.0,4.9,10.2,0.481,0,...,0.806,3,6.3,9.3,2.1,0.9,0,2.6,5.7,14.4
0,9,00,0,951,304,22437.0,6.3,13.0,0.485,0.3,...,0.815,0.6,2.1,2.7,5.8,1.8,0,2.1,3.5,15.0
0,12,00,0,103,66,2058.0,4.7,11.2,0.423,0.8,...,0.633,1.9,3.6,5.4,2.0,1.3,0,2.1,3.2,12.1
0,15,00,0,789,250,14612.0,5.0,11.6,0.434,2.1,...,0.839,1.3,3,4.2,1.9,1,0,1.5,2.8,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1629744,00,0,87,1,769.0,5.8,13.0,0.442,3.5,...,0.808,0.7,4.2,4.9,1.9,0.7,0,1.4,2.6,16.0
0,1629745,00,0,3,0,15.0,2.4,12.0,0.200,0,...,1.000,4.8,2.4,7.2,0.0,2.4,0,0,2.4,9.6
0,1629750,00,0,95,5,1043.0,4.4,8.4,0.523,0.8,...,0.722,1.8,4.4,6.2,1.6,1.9,0,1.5,3.5,11.8
0,1629752,00,0,50,0,282.0,3.7,7.1,0.518,0.9,...,0.545,2.4,4.9,7.3,1.9,0.6,0,1.3,5.1,9.1
0,1629760,00,0,4,0,19.0,1.9,7.6,0.250,0,...,0.000,0,5.7,5.7,1.9,3.8,0,0,1.9,3.8

In [43]:
for i,v in enumerate(Player['id'][1:]):
    player_info = PlayerCareerStats(player_id=v, per_mode36 = 'Per36')
    player_info_df = player_info.career_totals_regular_season.get_data_frame()
    player_stats_df = player_stats_df.append(player_info_df)
    print(v)

78116
78117
78118
78120
78121
78123
78124
78125
78126
78128
78130
78131
78132
78133
78135
78136
78138
78139
78140
78141
78142
78143
78144
78145
78146
78147
78148
78149
78150
78151
78152
78153
78154
78157
78159
78160
78161
78162
78163
78164
78167
78168
78169
78170
78171
78172
78173
78174
78175
78176
78177
78178
78179
78181
78182
78183
78184
78185
78187
78188
78189
78190
78191
78192
78194
78195
78197
78198
78199
78200
78201
78202
78203
78204
78205
78207
78208
78209
78212
78213
78214
78215
78216
78217
78219
78220
78221
78222
78223
78225
78226
78227
78230
78231
78232
78233
78234
78235
78237
78238
78239
78240
78241
78243
78244
78245
78247
78249
78250
78251
78252
78253
78256
78257
78259
78260
78261
78264
78266
78267
78268
78269
78270
78271
78273
78274
78275
78276
78277
78278
78279
78280
78281
78283
78284
78285
78286
78287
78291
78293
78294
78295
78296
78297
78298
78299
78301
78302
78303
78304
78305
78306
78307
78308
78309
78310
78311
78312
78313
78314
78316
78317
78318
78320
78321
78322
78323
78325
78326
78327
78328
78329
78331
78332
78333
78335
78340
78341
78342
78343
78344
78346
78347
78348
78349
78350
78351
78352
78353
78355
78356
78357
78358
78359
78360
78361
78363
78364
78365
78366
78367
78368
78369
78370
78371
78372
78374
78375
78377
78378
78379
78380
78381
78382
78385
78386
78387
78388
78390
78391
78392
78393
78394
78395
78396
78397
78398
78399
78400
78401
78402
78403
78404
78405
78406
78407
78409
78411
78413
78414
78415
78416
78417
78418
78419
78420
78421
78422
78423
78425
78426
78427
78428
78429
78430
78431
78432
78433
78434
78435
78436
78437
78438
78439
78440
78441
78442
78443
78444
78445
78446
78447
78448
78449
78450
78453
78454
78455
78456
78457
78458
78459
78460
78461
78462
78463
78464
78465
78466
78467
78468
78469
78470
78471
78473
78474
78475
78477
78478
78479
78481
78482
78483
78484
78485
78486
78488
78489
78492
78494
78495
78497
78499
78500
78501
78504
78506
78507
78508
78509
78510
78512
78513
78514
78515
78516
78519
78520
78521
78522
78523
78524
78525
78526
78527
78528
78529
78530
78531
78532
78533
78534
78537
78538
78539
78540
78541
78543
78545
78546
78547
78548
78549
78550
78554
78555
78556
78558
78560
78561
78563
78564
78565
78566
78567
78568
78569
78570
78571
78573
78574
78575
78577
78578
78579
78580
78581
78582
78583
78584
78585
78586
78587
78589
78590
78591
78592
78596
78597
78600
78601
78602
78603
78605
78606
78609
78610
78611
78612
78614
78615
78616
78617
78618
78620
78621
78622
78623
78627
78628
78629
78630
78631
78632
78633
78634
78635
78638
78639
78640
78641
78642
78643
78644
78647
78648
78650
78651
78653
78654
78656
90000
100263
101106
101107
101108
101109
101110
101111
101112
101113
101114
101115
101117
101118
101119
101120
101121
101122
101123
101124
101125
101126
101127
101128
101129
101130
101131
101132
101133
101134
101135
101136
101137
101138
101139
101141
101142
101143
101144
101145
101146
101147
101148
101149
101150
101152
101153
101154
101155
101156
101158
101159
101160
101161
101162
101165
101166
101177
101178
101179
101180
101181
101182
101183
101184
101185
101187
101188
101189
101190
101194
101195
101198
101204
101207
101209
101211
101212
101213
101214
101215
101219
101223
101230
101232
101235
101236
101238
101247
101249
101258
101261
200081
200745
200746
200747
200748
200749
200750
200751
200752
200753
200754
200755
200756
200757
200758
200759
200760
200761
200762
200763
200764
200765
200766
200767
200768
200769
200770
200771
200772
200776
200777
200778
200779
200780
200781
200782
200783
200784
200785
200786
200788
200789
200790
200792
200793
200794
200796
200797
200798
200799
200801
200806
200807
200809
200810
200811
200814
200816
200817
200818
200821
200822
200823
200826
200827
200829
200835
200837
200838
200839
200840
200841
200848
200970
200971
200978
200984
201041
201043
201141
201142
201143
201144
201145
201146
201147
201148
201149
201150
201151
201152
201153
201154
201155
201156
201157
201158
201159
201160
201161
201162
201163
201164
201165
201166
201167
201168
201169
201171
201172
201173
201174
201175
201176
201177
201178
201180
201181
201182
201186
201187
201188
201189
201191
201192
201193
201195
201196
201199
201202
201203
201207
201208
201228
201229
201234
201235
201238
201242
201274
201281
201286
201291
201336
201446
201563
201564
201565
201566
201567
201568
201569
201570
201571
201572
201573
201574
201575
201576
201577
201578
201579
201580
201581
201582
201583
201584
201585
201586
201587
201588
201589
201590
201591
201592
201593
201594
201595
201596
201599
201600
201601
201602
201603
201604
201605
201606
201607
201609
201611
201612
201616
201619
201621
201623
201627
201628
201629
201631
201632
201633
201634
201785
201802
201805
201814
201821
201858
201880
201933
201934
201935
201936
201937
201938
201939
201941
201942
201943
201944
201945
201946
201947
201948
201949
201950
201951
201952
201953
201954
201956
201957
201958
201959
201960
201961
201962
201963
201964
201965
201966
201967
201969
201970
201971
201972
201973
201974
201975
201976
201977
201978
201979
201980
201981
201985
201986
201987
201988
201991
201998
202066
202067
202068
202070
202077
202079
202081
202082
202083
202087
202091
202130
202132
202148
202178
202197
202220
202221
202227
202238
202322
202323
202324
202325
202326
202327
202328
202329
202330
202331
202332
202333
202334
202335
202336
202337
202338
202339
202340
202341
202342
202343
202344
202345
202346
202347
202348
202349
202350
202351
202353
202354
202355
202356
202357
202358
202359
202360
202361
202362
202363
202364
202365
202366
202371
202374
202375
202376
202377
202378
202379
202380
202382
202385
202386
202388
202389
202390
202391
202392
202395
202396
202397
202399
202406
202407
202408
202412
202419
202458
202498
202536
202545
202620
202622
202681
202682
202683
202684
202685
202686
202687
202688
202689
202690
202691
202692
202693
202694
202695
202696
202697
202698
202699
202700
202701
202702
202703
202704
202705
202706
202707
202708
202709
202710
202711
202712
202713
202714
202715
202716
202717
202718
202719
202720
202721
202722
202723
202724
202725
202726
202727
202728
202729
202730
202731
202732
202734
202738
202775
202779
202809
202810
202814
202862
202874
202880
202918
202933
202951
202952
202954
202962
202970
203006
203076
203077
203078
203079
203080
203081
203082
203083
203084
203085
203086
203087
203088
203089
203090
203091
203092
203093
203094
203095
203096
203097
203098
203099
203100
203101
203102
203103
203104
203105
203106
203107
203108
203109
203110
203111
203112
203113
203114
203115
203116
203117
203118
203119
203120
203121
203122
203123
203124
203126
203128
203129
203130
203133
203135
203136
203138
203139
203141
203142
203143
203144
203145
203146
203147
203148
203156
203158
203159
203162
203183
203186
203187
203197
203199
203200
203203
203210
203263
203268
203315
203317
203318
203382
203457
203458
203459
203460
203461
203462
203463
203464
203467
203468
203469
203471
203473
203474
203475
203476
203477
203479
203480
203481
203482
203484
203485
203486
203487
203488
203489
203490
203491
203492
203493
203495
203496
203497
203498
203499
203500
203501
203502
203503
203504
203505
203506
203507
203508
203510
203511
203512
203513
203515
203516
203517
203518
203519
203521
203524
203526
203527
203530
203539
203540
203543
203544
203545
203546
203548
203552
203561
203564
203565
203569
203580
203584
203585
203590
203613
203648
203658
203687
203705
203710
203798
203805
203810
203816
203893
203894
203895
203897
203898
203900
203901
203902
203903
203906
203909
203910
203912
203913
203914
203915
203917
203918
203919
203920
203921
203922
203923
203924
203925
203926
203928
203930
203932
203933
203934
203935
203937
203939
203940
203943
203944
203945
203946
203948
203949
203950
203951
203952
203953
203954
203955
203956
203957
203958
203960
203961
203962
203963
203966
203967
203968
203991
203992
203994
203996
203998
203999
204001
204002
204014
204020
204021
204022
204025
204028
204033
204037
204038
204054
204060
204065
204066
204067
204079
204098
204179
204456
600001
600003
600005
600006
600009
600010
600011
600012
600013
600014
600015
600016
1626122
1626143
1626144
1626145
1626146
1626147
1626148
1626149
1626150
1626151
1626153
1626154
1626155
1626156
1626157
1626158
1626159

1626161
1626162
1626163
1626164
1626166
1626167
1626168
1626169
1626170
1626171
1626172
1626173
1626174
1626175
1626176
1626177
1626178
1626179
1626181
1626183
1626184
1626185
1626187
1626188
1626191
1626192
1626195
1626196
1626199
1626202
1626203
1626204
1626205
1626209
1626210
1626214
1626220
1626224
1626242
1626245
1626246
1626251
1626253
1626254
1626257
1626259
1626262
1626266
1626273
1626296
1626643
1626780
1627098
1627215
1627293
1627362
1627395
1627732
1627733
1627734
1627735
1627736
1627737
1627738
1627739
1627740
1627741
1627742
1627743
1627744
1627745
1627746
1627747
1627748
1627749
1627750
1627751
1627752
1627753
1627754
1627755
1627756
1627757
1627758
1627759
1627761
1627762
1627763
1627767
1627770
1627771
1627772
1627773
1627774
1627775
1627777
1627778
1627779
1627780
1627781
1627782
1627783
1627784
1627785
1627786
1627787
1627788
1627789
1627790
1627791
1627812
1627814
1627815
1627816
1627817
1627819
1627820
1627821
1627823
1627824
1627826
1627827
1627832
1627834
1627835
1627846
1627848
1627849
1627850
1627851
1627852
1627853
1627854
1627855
1627856
1627858
1627861
1627863
1627866
1627868
1627875
1627879
1627883
1627884
1627885
1627936
1627982
1627988
1628021
1628035
1628070
1628249
1628365
1628366
1628367
1628368
1628369
1628370
1628371
1628372
1628373
1628374
1628378
1628379
1628380
1628381
1628382
1628383
1628384
1628385
1628386
1628387
1628388
1628389
1628390
1628391
1628392
1628393
1628394
1628395
1628396
1628397
1628398
1628399
1628400
1628401
1628402
1628403
1628404
1628405
1628407
1628408
1628409
1628410
1628411
1628412
1628413
1628414
1628415
1628416
1628417
1628418
1628420
1628421
1628422
1628424
1628425
1628427
1628429
1628430
1628432
1628436
1628439
1628443
1628444
1628449
1628451
1628455
1628462
1628463
1628464
1628467
1628469
1628470
1628475
1628476
1628492
1628493
1628495
1628499
1628500
1628502
1628503
1628504
1628505
1628506
1628510
1628513
1628515
1628518
1628537
1628571
1628605
1628656
1628681
1628769
1628778
1628935
1628959
1628960
1628961
1628963
1628964
1628966
1628968
1628969
1628970
1628971
1628972
1628973
1628975
1628976
1628977
1628978
1628979
1628980
1628981
1628982
1628983
1628984
1628985
1628987
1628988
1628989
1628990
1628991
1628993
1628994
1628995
1628997
1628998
1628999
1629001
1629002
1629003
1629004
1629006
1629008
1629010
1629011
1629012
1629013
1629014
1629015
1629016
1629017
1629018
1629019
1629020
1629021
1629022
1629023
1629026
1629027
1629028
1629029
1629033
1629034
1629035
1629044
1629045
1629048
1629052
1629053
1629055
1629056
1629057
1629058
1629059
1629060
1629061
1629065
1629066
1629067
1629076
1629093
1629094
1629102
1629103
1629109
1629116
1629117
1629118
1629121
1629122
1629123
1629126
1629129
1629130
1629133
1629134
1629139
1629140
1629147
1629150
1629151
1629152
1629155
1629162
1629164
1629168
1629185
1629203
1629216
1629234
1629244
1629312
1629341
1629346
1629353
1629541
1629597
1629598
1629599
1629605
1629607
1629608
1629610
1629611
1629620
1629621
1629622
1629624
1629625
1629626
1629627
1629628
1629629
1629630
1629631
1629632
1629633
1629634
1629635
1629636
1629637
1629638
1629639
1629640
1629641
1629642
1629644
1629645
1629647
1629648
1629649
1629650
1629651
1629652
1629655
1629657
1629658
1629659
1629660
1629661
1629662
1629663
1629665
1629667
1629668
1629669
1629671
1629672
1629673
1629675
1629676
1629677
1629678
1629680
1629682
1629683
1629684
1629685
1629690
1629713
1629714
1629718
1629719
1629723
1629724
1629725
1629726
1629729
1629730
1629731
1629734
1629735
1629738
1629739
1629740
1629741
1629742
1629744
1629745
1629750
1629752
1629760

In [44]:
player_stats_df = player_stats_df.drop_duplicates(subset=['PLAYER_ID'], keep=False)